---
page_title: "AWS EC2 Deployment Guide"
subcategory: ""
description: |-
  This guide explains how to deploy the BastionZero bzero agent on an AWS EC2 instance and create the policy required in order to connect
---

# AWS EC2 Deployment Guide

This guide explains how to deploy the BastionZero
[`bzero`](https://github.com/bastionzero/bzero) agent on an AWS EC2 instance and
create the policy required in order to connect. By the end of this guide, your
EC2 instance will be
[autodiscovered](https://docs.bastionzero.com/docs/deployment/installing-the-agent#autodiscovery)
as a Bzero target by BastionZero, and you will be able to connect to it using
the [`zli`](https://github.com/bastionzero/zli).

This document is split into modular sections to help guide you through the
entire Terraform configuration. 

## Before you begin

* You must be an administrator of your BastionZero organization in order to
register a target.
* Create a BastionZero [API
key](https://docs.bastionzero.com/docs/admin-guide/authorization#creating-an-api-key)
in order to configure the Terraform provider. Manage your API keys at the API
key panel found [here](https://cloud.bastionzero.com/admin/apikeys).
* Create a BastionZero [registration API
key](https://docs.bastionzero.com/docs/admin-guide/authorization#registration-api-keys)
in order to register the EC2 instance as a target in your BastionZero
organization.
* Use Terraform 1.x or higher.

-> **Note** API keys and registration keys are reusable. There is no need to
generate a new key if you already have one available.

This guide assumes you have basic knowledge of the AWS Terraform provider as it
is used to deploy an EC2 instance. Although this guide uses AWS to register a
target, please note that BastionZero is cloud-agnostic. Use this guide as a
model to register your instances at other cloud providers.

## Setup

First, we set up the BastionZero Terraform provider and the [AWS Terraform
provider](https://registry.terraform.io/providers/hashicorp/aws/latest/docs#authentication-and-configuration).



{{ tffile "examples/guides/ec2-bzero-deployment-guide/01-setup.tf" }}

-> **Note** Version constraints are included for the sake of completeness.
Please change the version constraints as you see fit. Keep in mind though this
guide is written assuming the versions defined in the Terraform snippet above.

For security purposes, we choose to configure the BastionZero provider using an
environment variable as it's more secure than hardcoding the secret in the
Terraform file itself.

Set the `BASTIONZERO_API_SECRET` environment variable to the API key's secret
that you created in the [previous step](#before-you-begin) before running
`terraform apply`.

```sh
export BASTIONZERO_API_SECRET=api-secret
```

## Create an environment

All BastionZero targets belong to a single environment. Environments help
organize a collection of targets. They're especially useful when creating
BastionZero policy when you wish to apply the same set of policy access rules to
a group of targets.

Let's create a [`bastionzero_environment`](../resources/environment) to contain
our EC2 instance once it is autodiscovered and registered as a Bzero target.

{{ tffile "examples/guides/ec2-bzero-deployment-guide/02-create-an-environment.tf" }}

## Fetch autodiscovery script

Next, we'll query for an autodiscovery script
([`bastionzero_ad_bash`](../data-sources/ad_bash)) to use during the
provisioning of the EC2 instance.

For this example, we're going to assume that default global registration is not
enabled in the [API key panel](https://cloud.bastionzero.com/admin/apikeys) and
a default key has not been selected, so we'll have to embed the registration
secret ourselves in the script.

We'll use the registration API key's secret that you created in the ["Before you
begin"](#before-you-begin) step, and the
[`replace`](https://www.terraform.io/language/functions/replace) function in
order to complete the script.

{{ tffile "examples/guides/ec2-bzero-deployment-guide/03-fetch-autodiscovery-script.tf" }}

Configure the `bzero_reg_secret` input variable by setting an [environment
variable](https://developer.hashicorp.com/terraform/language/values/variables#environment-variables)
before running `terraform apply`.

```sh
export TF_VAR_bzero_reg_secret=reg-secret
```

~> **Warning** The registration secret is sensitive data. If a malicious
attacker obtains this credential, they could register their own instances as
targets in your BastionZero organization. Once the registration secret is used
in a Terraform module (e.g. fetched via a data source), it is stored in the
Terraform state file. Please protect your state files accordingly. See
HashiCorp's article about managing sensitive data in Terraform state
[here](https://developer.hashicorp.com/terraform/language/state/sensitive-data).

## Register an EC2 instance

With a complete autodiscovery script (`local.ad_script`), we're now ready to
create the EC2 instance and have it register itself to BastionZero.

The following Terraform creates an EC2 instance running Ubuntu 20.04 in the
default VPC and creates a new security group in the default VPC in order to
reject all inbound traffic and allow all outbound traffic to/from this instance.
Please modify accordingly to use your own custom VPC and security groups for
enhanced security.

-> **Note** BastionZero supports other platforms as well. We're using Ubuntu
20.04 as an example. See
[here](https://docs.bastionzero.com/docs/deployment/installing-the-agent#step-1-agent-installation)
to view the list of supported `bzero` agent platforms.

{{ tffile "examples/guides/ec2-bzero-deployment-guide/04-register-an-ec2-instance.tf" }}

## Control access via policy

Your newly created EC2 instance should appear in the
["Targets"](https://cloud.bastionzero.com/admin/targets) list shortly. Now let's
create a target connect policy to control who in your organization has access to
your target.

{{ tffile "examples/guides/ec2-bzero-deployment-guide/05-control-access-via-policy.tf" }}

See the [`bastionzero_targetconnect_policy`](../resources/targetconnect_policy)
resource documentation to learn about all the available options.

Specify the users' emails in your organization to whom you wish to give access
to in `local.users`.

If you've [synced groups](https://cloud.bastionzero.com/admin/integrations) from
your IdP (see the [SSO
Management](https://docs.bastionzero.com/docs/admin-guide/authentication/sso-management)
guide for more information), then specify the groups in your organization to
whom you wish to give access to in `local.groups`.

## Next steps

Congratulations! You've successfully registered an EC2 instance to your
BastionZero organization, and you've restricted access to it via BastionZero
policy.

If you experienced any issues with the BastionZero Terraform provider, please
open a ticket at
https://github.com/bastionzero/terraform-provider-bastionzero/issues. For
assistance on any issue with using or installing BastionZero, please reach out
to support@bastionzero.com.

Here are some suggestions on what to try next.

### Connect to your target using the `zli`

Download and install the `zli` to connect to your target. Follow the
instructions [here](https://github.com/bastionzero/zli#install).

```sh
zli login
zli connect ubuntu@instance-id
```

Replace `instance-id` with the value of the `instance_id` output.

### Set up a session recording policy

Set up a session recording policy so that shell connections to your target are
recorded. Use the
[`bastionzero_sessionrecording_policy`](../resources/sessionrecording_policy)
resource to manage the policy in Terraform. Learn more about session recording
policies
[here](https://docs.bastionzero.com/docs/admin-guide/authorization#session-recording).

### Set up a Just-in-Time (JIT) policy

Enable the [Slack
integration](https://docs.bastionzero.com/docs/automation-and-integrations/slack)
in your BastionZero organization, so that you can write JIT policies to grant
temporary access to your BastionZero target subject to administrator approval.

Use the [`bastionzero_jit_policy`](../resources/jit_policy) resource to manage
the policy in Terraform. Learn more about JIT policies
[here](https://docs.bastionzero.com/docs/admin-guide/authorization#just-in-time).