---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "Environment"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

~> **Note on offline target cleanup** An environment's
[`offline_cleanup_timeout_hours`](#offline_cleanup_timeout_hours) cannot exceed
4320 hours (180 days).

## Example Usage

Create an environment named `example-env`:

{{ tffile "examples/resources/bastionzero_environment/resource.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{ codefile "shell" "examples/resources/bastionzero_environment/import.sh" }}