---
page_title: "BastionZero Provider"
description: |-
  The BastionZero provider can be used to manage your BastionZero policies and environments in Terraform.
---

# BastionZero Provider

The BastionZero provider is used to interact with select APIs supported by
[BastionZero](https://www.bastionzero.com/). It provides resources to manage
your BastionZero
[policies](https://docs.bastionzero.com/docs/admin-guide/authorization#policy-management)
and environments, and data sources to fetch your users, groups, service
accounts, and targets in your BastionZero organization. The provider needs to be
configured with an API secret before it can be used (please see the
[example](#example-usage) below).

Use the navigation to the left to read about the available resources and data
sources.

## BastionZero Setup

TBA

## Example Usage

TBA

### Configuring using an environment variable

TBA

{{ .SchemaMarkdown | trimspace }}