---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

-> **Note** The fetched `script` does not contain the registration secret that
is required to register your targets with BastionZero. You must replace
`<REGISTRATION-SECRET-GOES-HERE>` with a valid [registration
secret](https://docs.bastionzero.com/docs/admin-guide/authorization#registration-api-keys)
before attempting to execute the script. This can be done by using the
[`replace`](https://www.terraform.io/language/functions/replace) function (see
example [below](#replace-example)).

## Example Usage

### Basic example

{{ tffile "examples/data-sources/bastionzero_ad_bash/data-source.tf" }}

### Register in the default environment

The following example fetches a script that registers your target in the default
environment.

{{ tffile "examples/data-sources/bastionzero_ad_bash/default-env.tf" }}

### Replace example

~> **Warning** The registration secret is sensitive data. If a malicious
attacker obtains this credential, they could register their own instances as
targets in your BastionZero organization. Once the registration secret is used
in a Terraform module (e.g. fetched via a data source), it is stored in the
Terraform state file. Please protect your state files accordingly. See
HashiCorp's article about managing sensitive data in Terraform state
[here](https://developer.hashicorp.com/terraform/language/state/sensitive-data).

{{ tffile "examples/data-sources/bastionzero_ad_bash/replace.tf" }}

{{ .SchemaMarkdown | trimspace }}