---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "Target"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

-> **Note** You can use the [`bastionzero_bzero_target`](bzero_target) data
source to obtain metadata about a single Bzero target if you already know the
`id` or `name`.

## Example Usage

{{ tffile "examples/data-sources/bastionzero_bzero_targets/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}