---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "Target"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

Dynamic access configurations configure the provisioning of dynamic
access targets (DATs). Learn more about the use cases of DATs and how to
configure a DAT provisioning server
[here](https://docs.bastionzero.com/docs/deployment/installing-the-agent#dynamic-access-targets). 

## Example Usage

Get the target by ID:

{{ tffile "examples/data-sources/bastionzero_dac_target/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}