---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "Group"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

This data source is useful when creating policies so that the policy can apply
to a dynamic set of users depending on the user's group membership.

Syncing groups from your IdP is configured on the [App
Integrations](https://cloud.bastionzero.com/admin/integrations) page. See the
[SSO
Management](https://docs.bastionzero.com/docs/admin-guide/authentication/sso-management)
guide for more information.

## Example Usage

{{ tffile "examples/data-sources/bastionzero_groups/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}