---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "Service Account"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

See the [Service Accounts
Management](https://docs.bastionzero.com/docs/admin-guide/authentication/service-accounts-management)
guide to learn how to configure service accounts with BastionZero.

## Example Usage

{{ tffile "examples/data-sources/bastionzero_service_account/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}