---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "Service Account"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

See the [Service Accounts
Management](https://docs.bastionzero.com/docs/admin-guide/authentication/service-accounts-management)
guide to learn how to configure service accounts with BastionZero.

Note: You can use the [`bastionzero_service_account`](service_account) data
source to obtain metadata about a single service account if you already know the `id`.

## Example Usage

{{ tffile "examples/data-sources/bastionzero_service_accounts/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}