---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "Policy"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

This is useful if the policy in question is not managed by Terraform, or
you need to utilize any of the policy's data.

## Example Usage

Get the policy by ID:

{{ tffile "examples/data-sources/bastionzero_targetconnect_policy/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}