---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "Policy"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

This data source is useful if the policies in question are not managed by
Terraform, or you need to utilize any of the policies' data.

-> **Note** You can use the
[`bastionzero_targetconnect_policy`](targetconnect_policy) data source to obtain
metadata about a single policy if you already know the `id`.

## Example Usage

### Basic example

{{ tffile "examples/data-sources/bastionzero_targetconnect_policies/data-source.tf" }}

### Get the policy by name

{{ tffile "examples/data-sources/bastionzero_targetconnect_policies/find-with-name.tf" }}

{{ .SchemaMarkdown | trimspace }}