---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "User"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

Note: You can use the [`bastionzero_user`](user) data source to obtain metadata
about a single user if you already know the user's `id` or email address.

## Example Usage

{{ tffile "examples/data-sources/bastionzero_users/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}