---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "target"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

Note: You can use the [`bastionzero_web_target`](web_target) data source to
obtain metadata about a single Web target if you already know the `id`.

## Example Usage

### Basic example

{{ tffile "examples/data-sources/bastionzero_web_targets/data-source.tf" }}

### Get the target by name

{{ tffile "examples/data-sources/bastionzero_web_targets/find-with-name.tf" }}

### Group Web targets with same base proxy target

{{ tffile "examples/data-sources/bastionzero_web_targets/group-by.tf" }}

{{ .SchemaMarkdown | trimspace }}