---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "Target"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

Get the target by ID:

{{ tffile "examples/data-sources/bastionzero_web_target/data-source.tf" }}

{{ .SchemaMarkdown | trimspace }}